asgiref
attrs
autobahn
Automat
cffi
channels
constantly
cryptography
daphne
django
django-ckeditor
django-filter
django-js-asset
django-phone-field
djangorestframework
hyperlink
idna
incremental
Markdown
phonenumbers
pillow
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
service-identity
setuptools
sqlparse
Twisted
txaio
typing_extensions
zope.interface