{% extends 'base.html' %}
{% load static %}
{% load tindertag %}

{% block content %}
<div class="tab-content" id="myTabContent">
    {% if user.is_authenticated %}
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
        style="background-color: white !important;">
        <div class="tinder-body">
            <div class="tinder h-100 mt-0 pt-0">

                <div class="tinder--cards">
                </div>
                <div class="tinder--buttons">
                    <button class="btn" id="nope"><img src="{% static 'images/close.png' %}" class="img-fluid" alt=""></button>
                    <button class="btn" id="love"><img src="{% static 'images/heart.png' %}" class="img-fluid" alt=""></button>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade pt-1 pb-4" id="chat" role="tabpanel" aria-labelledby="chat-tab"
        style="background-color: white;">
        <div class="w-100">
            <div class="chat-container">
                <div class="chat-header">
                    <h1>Chit-Chat <i class="fas fa-comment"></i></h1>
                </div>
                <div class="chat-logout">
                    {% if user.is_authenticated %}
                    <div style="float: left;font-weight: bold; color: #036358;">{{ user|title }} </div> <button class="btn border" id="back-btn">Back</button>
                </div>
                <div style="clear: both;"></div>
                {% endif %}
            </div>
        </div>
        <div class="w-100">
            <div class="mx-auto chats_container" id="all_chats" style="max-width: 400px;">
                {% for liked_user in user_likes %}
                <div class="chat_user_item mx-auto">
                    <div class="row border rounded w-100 btn justify-content-center align-items-center m-0 chatsss" user-username="{{liked_user.username}}">
                        <div class="col-3">
                            <img src="" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-8">
                            <h4 class="p-0 m-0">{{ liked_user }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="" id="concrete_chat" style="display: None;">
            <div class="chat__item__container" id="id_chat_item_container">

            </div>
            <div class="chat-input-container">
                <input type="text" id="id_message_send_input" placeholder="Type your message..." />
                <button type="submit" id="id_message_send_button"><i class="fas fa-paper-plane"></i> Send</button>
            </div>
        </div>
    </div>
    <div class="tab-pane fade pt-1 pb-4" id="notes" role="tabpanel" aria-labelledby="notes-tab"
        style="background-color: white;">
        <div class="d-flex flex-row justify-content-center align-items-center w-100 h-100">
            <div id="popin"></div>
            <div id="skilltree"></div>
            <div id="panel">Crédits : <span id="wallet"></span></div>
        </div>
        {% include 'modal/skillmodal.html' %}
    </div>
    
    <div class="tab-pane fade pt-1 pb-4" id="project" role="tabpanel" aria-labelledby="project-tab"
        style="background-color: white;">
        <div class="d-flex flex-row w-100 h-100">
            <div id="popin2"></div>
            <div id="questtree"></div>
            <div id="panel">Crédits : <span id="wallet2"></span></div>
        </div>
        {% include 'modal/questmodal.html' %}
    </div>
    
    <div class="tab-pane fade pt-1 pb-4 h-100" id="collection" role="tabpanel" aria-labelledby="collection-tab"
        style="background-color: white;">
        {% include 'modal/modal.html' %}
        <div class="d-flex flex-column justify-content-center h-100 align-items-center">
            <div class="row mx-auto align-items-center"  style="width: 100%; height: auto;">
                <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                    <h5 class="m-0 p-0  border rounded p-2">{{user.name}} {{user.lastname}} - {{user_age}}</h5>
                    <img class="btn" data-bs-toggle="modal" data-bs-target="#modal"
                        src="{% if user.sex == 'Female' %} {% static 'images/woman_body.png' %} {% else %} {% static 'images/man_body.png' %} {% endif %}"
                        style="height: auto; width: 100%" alt="">
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column justify-content-between align-items-center">
                        {% csrf_token %}
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item w-50 mx-auto">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        {% if user_choosed_items.helmet %}
                                        <img src="{{ user_choosed_items.helmet.skin.url }}" class="img-fluid" alt="">
                                        {% else %}
                                        <img src="{% static 'images/helmet.png' %}" class="img-fluid" alt="">
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for item in user_invontory.helmets.all %}
                                        {{item.item_name}}
                                        <div class="row">
                                            <div class="col-4 p-0 m-0">
                                                <img src="{{ item.skin.url }}" alt="" class="img-fluid">
                                                <button class="btn btn-primary pick-btn" item-type="helmet" item-id="{{item.id}}" {% if item.id == user_choosed_items.helmet.id %} disabled {% endif %}>Pick</button>
                                            </div>
                                            <div class="col-6 m-0">
                                                <p class="m-0 p-0">agreeableness +{{item.agreeableness}}</p>
                                                <p class="m-0 p-0">emotional stablility +{{item.emotional_stablility}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item w-50 mx-auto">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        {% if user_choosed_items.chestplate %}
                                        <img src="{{ user_choosed_items.chestplate.skin.url }}" class="img-fluid" alt="">
                                        {% else %}
                                        <img src="{% static 'images/chest-armor.svg' %}" class="img-fluid" alt="">
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for item in user_invontory.chestplates.all %}
                                        {{item.item_name}}
                                        <div class="row">
                                            <div class="col-4 p-0 m-0">
                                                <img src="{{ item.skin.url }}" alt="" class="img-fluid">
                                                <button class="btn btn-primary pick-btn" item-type="chestplate"
                                                    item-id="{{item.id}}" {% if item.id == user_choosed_items.chestplate.id %}
                                                    disabled {% endif %}>Pick</button>
                                            </div>
                                            <div class="col-6 m-0">
                                                <p class="m-0 p-0">agreeableness +{{item.agreeableness}}</p>
                                                <p class="m-0 p-0">emotional stablility +{{item.emotional_stablility}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item w-50 mx-auto">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        {% if user_choosed_items.legging %}
                                        <img src="{{ user_choosed_items.legging.skin.url }}" class="img-fluid" alt="">
                                        {% else %}
                                        <img src="{% static 'images/leg-removebg-preview.png' %}" class="img-fluid" alt="">
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for item in user_invontory.leggings.all %}
                                        {{item.item_name}}
                                        <div class="row">
                                            <div class="col-4 p-0 m-0">
                                                <img src="{{ item.skin.url }}" alt="" class="img-fluid">
                                                <button class="btn btn-primary pick-btn" item-type="legging"
                                                    item-id="{{item.id}}" {% if item.id == user_choosed_items.legging.id %}
                                                    disabled {% endif %}>Pick</button>
                                            </div>
                                            <div class="col-6 m-0">
                                                <p class="m-0 p-0">agreeableness +{{item.agreeableness}}</p>
                                                <p class="m-0 p-0">emotional stablility +{{item.emotional_stablility}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item w-50 mx-auto">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        {% if user_choosed_items.boot %}
                                        <img src="{{ user_choosed_items.boot.skin.url }}" class="img-fluid" alt="">
                                        {% else %}
                                        <img src="{% static 'images/leg-removebg-preview.png' %}" class="img-fluid" alt="">
                                        {% endif %}
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for item in user_invontory.boots.all %}
                                        {{item.item_name}}
                                        <div class="row">
                                            <div class="col-4 p-0 m-0">
                                                <img src="{{ item.skin.url }}" alt="" class="img-fluid">
                                                <button class="btn btn-primary pick-btn" item-type="boot"
                                                    item-id="{{item.id}}" {% if item.id == user_choosed_items.boot.id %}
                                                    disabled {% endif %}>Pick</button>
                                            </div>
                                            <div class="col-6 m-0">
                                                <p class="m-0 p-0">agreeableness +{{item.agreeableness}}</p>
                                                <p class="m-0 p-0">emotional stablility +{{item.emotional_stablility}}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="row">
                <div class="row mx-auto align-items-center col-12">
                    <p>Agreeableness: {{user.agreeableness}}</p>
                    <p>Emotional Stablility: {{user.emotional_stablility}}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
{% include pages|get_item:'login' %}
{% include pages|get_item:'register' %}
{% endif %}
</div>


</div>
{% endblock %}


{% block js %}
<script>
    $(window).on('load', () => {
        const all_chats = $('.chatsss');
        const concrete_chat = $('#concrete_chat');
        const back_btn = $('#back-btn');
        const currentUsername = "{{ user.username }}"; // Pass from template
    
        // Iterate over each chat element
        all_chats.each(function () {
            $(this).on('click', function () {
                const this_chat = $(this);
                const to_user = this_chat.attr('user-username');
    
                // Show concrete chat and hide all chats
                this_chat.hide();
                concrete_chat.show();
    
                // Attach click event to the back button
                back_btn.off('click').on('click', function () {
                    concrete_chat.hide();
                    this_chat.show();
                });
    
                // Establish WebSocket connection
                const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${currentUsername}_${to_user}/`);
    
                chatSocket.onopen = function () {
                    console.log("WebSocket connection established successfully!");
                };
    
                chatSocket.onclose = function () {
                    console.log("WebSocket connection closed!");
                };
    
                chatSocket.onerror = function (e) {
                    console.error("WebSocket error occurred:", e);
                };
    
                // Message input and sending
                const messageInput = document.querySelector("#id_message_send_input");
                const messageSendButton = document.querySelector("#id_message_send_button");
                const messageContainer = document.querySelector("#id_chat_item_container");
    
                if (messageInput && messageSendButton && messageContainer) {
                    messageInput.focus();
                    messageInput.onkeyup = function (e) {
                        if (e.keyCode === 13) {
                            messageSendButton.click();
                        }
                    };
    
                    messageSendButton.onclick = function () {
                        const messageInputValue = messageInput.value.trim();
                        if (messageInputValue !== "") {
                            const currentTime = new Date().toLocaleTimeString();
                            chatSocket.send(JSON.stringify({
                                message: messageInputValue,
                                username: currentUsername,
                                time: currentTime,
                            }));
                            messageInput.value = ""; // Clear the input field
                        }
                    };
                }
    
                // Handle incoming messages
                chatSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data);
                    const div = document.createElement("div");
                    console.log(data)
                    div.className = data.username === currentUsername ? "chat-message right" : "chat-message left";
                    div.innerHTML = `
                        <div class="message-content">
                            <span class="message-username">${data.username.charAt(0).toUpperCase() + data.username.slice(1)}</span>
                            <span class="message-text">${data.message}</span>
                            <span class="message-timestamp">${data.time}</span>
                        </div>`;
                    messageContainer.appendChild(div);
    
                    // Scroll to the bottom of the chat
                    messageContainer.scrollTop = messageContainer.scrollHeight;
                };
            });
        });
    });
    
</script>
<script src="{% static 'js/vis/dist/vis.js' %}"></script>

<script src="{% static 'js/questtree.js' %}"></script>
<script src="{% static 'js/skilltree.js' %}"></script>
<script src="{% static 'js/tinder.js' %}"></script>
<script src="{% static 'js/pick-item.js' %}"></script>
{% endblock %}  