{% if user.is_authenticated %}
<nav class="navbar navbar-light navbar-expand rounded-pill mb-3 ms-3 me-3 fixed-bottom d-md-none d-lg-none d-xl-none shadow"
    style="background: #0f071f;">
    <ul class="nav nav-justified w-100" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">
                <span><i class="bi bi-house-fill"></i></span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat" type="button"
                role="tab" aria-controls="notif" aria-selected="false">
                <span><i class="bi bi-collection"></i></span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes" type="button"
                role="tab" aria-controls="intro" aria-selected="true">
                <span><i class="bi bi-journal-album"></i></span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="project-tab" data-bs-toggle="tab" data-bs-target="#project" type="button"
                role="tab" aria-controls="profile" aria-selected="false">
                <span><i class="bi bi-pc-display"></i></span>
            </button>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="collection-tab" data-bs-toggle="tab" data-bs-target="#collection" type="button"
                role="tab" aria-controls="notif" aria-selected="false">
                <span><i class="bi bi-collection"></i></span>
            </button>
        </li>
    </ul>
</nav>
{% else %}
<nav class="navbar navbar-light navbar-expand rounded-pill mb-3 ms-3 me-3 fixed-bottom d-md-none d-lg-none d-xl-none shadow"
    style="background: #0f071f;">
    <ul class="nav nav-justified w-100" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button"
                role="tab" aria-controls="login" aria-selected="true">
                <span><i class="bi bi-house-fill"></i></span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button"
                role="tab" aria-controls="register" aria-selected="true">
                <span><i class="bi bi-journal-album"></i></span>
            </button>
        </li>
        </li>
    </ul>
</nav>
{% endif %}